.dropdown-show button{ 

    background-color: black; 
    border: none;  
    font-family: sans-serif; 
    box-sizing: border-box; 
    cursor: pointer;
    outline: none;
    background: none;
    font-size: 18px;
    color: rgb(223, 219, 219);
    padding: 5px 10px; 
    padding-top: 15px;
    transition: color 0.3s ease-in-out;
}

.dropdown-menu button { 
    border: 0;
    font: 16px; 
    font-family: sans-serif; 
    padding: 4px 16px; 
    color: black;

} 

#team-tab img { 
    padding-bottom: 20px;
}